div.popup {
  background-color: #fff;
  border: $base-border;
  @include border-top-radius(7px);
  @include border-bottom-radius(7px);

  header {
    text-align: center;
  }

  div.body {
    padding: 1.5em;

    input[type=submit] {
      width: 100%;
    }
  }

  footer {
    text-align: center;
  }
}
