<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Product</h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
