<!DOCTYPE html>
<html>
<head>
  <title>BitCommerce is where every bit worth!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="z0hmbfalqp97f2f"></script>
</head>
<body>
  <section class="container">
    <div class="inner-content">
      <div class="popup">
        <%= yield %>
      </div>
    </div>
  </section>
</body>
</html>
